{% extends "base.html" %}

{% block content %}

<main>
  <div class="row align-items-center" style="min-height: calc(100vh - 66px); width: 50%; margin: auto;">
    
    <div class="container">
  
      <form action="/SubmitURL" method="post" name="SubmitURL">
        <div class = "form-group">
          <input type = "text" autofocus class="form-control"  placeholder = "Enter a URL" name= "inputURL" value = "{{ request.form.inputURL}}">
            <br>
        </div>
        <div class="col-lg-6 mx-auto">
          <p><input class="btn btn-secondary" type="submit" value="Submit URL" style="width: 50%; margin-left: 25%; margin-right: 25%;"></p>
        </div>
      </form>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <form method="post" action="/clearSitemapData" name="clearSitemapData">
              <input type="submit" value="Clear Sitemap Data" name="clearSitemapBtn"/>
            </form>
          </div>
          <div class="col-sm">
            <form method="get" action="/displayXMLSitemap" name="displayXMLSitemap">
              <input type="submit" value="Display XML Sitemap" name="DisplayXMLSitemapBtn"/>
            </form>
          </div>
          <div class="col-sm">
            <form method="get" action="/displayUOWebsiteGraph" name="displayWebsiteGraph">
              <input type="submit" value="Display Website Graph" name="DisplayWebsiteGraphBtn"/>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <form method="get" action="/displaySitemap" name="displaySitemap">
              <input type="submit" value="Display Graphical Sitemap" name="DisplayVizSitemapBtn"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{%if response%}
<footer class="footer fixed-bottom text-center">
  <span class="error"><strong> RESPONSE: </strong> {{response}}</p></span>
</footer>
{%endif%}
</main>

{% endblock %}