{% extends "base.html" %}

{% block content %}

<main>
  <div class="row align-items-center" style="min-height: calc(100vh - 66px); width: 50%; margin: auto;">
    
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"># (top results)</th>
            <th scope="col">URL</th>
            <th scope="col">Occurences of Term in Page</th>
          </tr>
        </thead>
        <tbody>
          {% for url in results%}
          <tr>
            <th scope="row">{{url["Index"]}}</th>
            <td>{{url["url"]}}</td>
            <td>{{url["termCount"]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
{%if response%}
<footer class="footer fixed-bottom text-center">
  <span class="error"><strong> RESPONSE: </strong> {{response}}</p></span>
</footer>
{%endif%}
</main>

{% endblock %}