{% extends "base.html" %}

{% block content %}

<main>
  <div class="row align-items-center" style="min-height: calc(100vh - 66px); width: 50%; margin: auto;">
    
    <div class="container">
  
      <form action="/SubmitURLSearchEngine" method="post" name="SubmitURL">
        <div class = "form-group">
          <input type = "text" autofocus class="form-control"  placeholder = "Enter a URL" name= "inputURL" value = "{{ request.form.inputURL}}">
            <br>
          <input type = "text" autofocus class="form-control"  placeholder = "Enter Search Terms, eg 'Holiday Resorts, Spain'" name= "inputTerms" value = "{{ request.form.inputTerms}}">
            <br>
        </div>
        <div class="col-lg-6 mx-auto">
          <p><input class="btn btn-secondary" type="submit" value="Submit" style="width: 50%; margin-left: 25%; margin-right: 25%;"></p>
        </div>
      </form>
    </div>
  </div>
{%if response%}
<footer class="footer fixed-bottom text-center">
  <span class="error"><strong> RESPONSE: </strong> {{response}}</p></span>
</footer>
{%endif%}
</main>

{% endblock %}