{% extends "base.html" %}

{% block content %}

<main>
  <div class="row align-items-center" style="min-height: calc(100vh - 66px); width: 50%; margin: auto; padding-top: 70x;">
    <div class="container">
      <img src="../static/Sitemap.png" alt="Website Sitemap">
    </div>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        {% for url in results%}
        <tr>
          <th scope="row">{{url["Index"]}}</th>
          <td><a href="{{url['Url']}}">{{url['Url']}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
{%if response%}
<footer class="footer fixed-bottom text-center">
  <span class="error"><strong> RESPONSE: </strong> {{response}}</p></span>
</footer>
{%endif%}
</main>

{% endblock %}