{% extends "base.html" %}

{% block content %}

<main>
  <div class="row align-items-left" style="padding-top:70px;">
    <div class="container">
      <p>
        &lt?xml version="1.0" encoding="UTF-8"?&gt<br>
        &lturlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"&gt<br>

        {% for u in url%}
        &nbsp &lturl&gt <br>
        &nbsp &nbsp &ltloc&gt{{u}}&lt/loc&gt<br>
        &nbsp &lt/url&gt <br>
        {% endfor %}

        &lt/urlset&gt
      </p>      
    </div>
  </div>
{%if response%}
<footer class="footer fixed-bottom text-center">
  <span class="error"><strong> RESPONSE: </strong> {{response}}</p></span>
</footer>
{%endif%}
</main>

{% endblock %}